@model BridgingTheGap.Models.TutorDetails

@{
    ViewBag.Title = "AddSubjectToTutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Subject To Tutor</h2>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.HiddenFor(e => e.TutorId)
<div class="form-horizontal">
    <h4>Choose a subject to add to @Model.FullName.</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Subjects, "SubjectId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class=" col-md-10">
            @Html.DropDownList("SubjectId", null, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subjects, "", new { @class = "text-danger" })
        </div>
        <input type="submit" value="Add Subject" />
        @Html.ActionLink("Back to tutors", "Index");
    </div>
</div>
}

