@model IEnumerable<BridgingTheGap.Models.TutorListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class=" close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TutorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSubjects)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TutorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSubjects)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TutorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TutorId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TutorId })
            </td>
        </tr>
    }

</table>
